In [209]:
import pandas as pd
import numpy as np
df=pd.read_csv("data.csv")
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [210]:
df['Duration'] = df['Duration'].replace(450, 45)

In [211]:
df.columns

Index(['Duration', 'Date', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [212]:
df.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [213]:
df.fillna(method="bfill",inplace=True)# to fill value based on next value

In [214]:
df.isnull().sum() #check again if any empty value left

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [215]:
df['Date'] = pd.to_datetime(df['Date']) #converting the "Date" df into data typeformat

In [216]:
newdf=df.fillna(0,inplace=True)
df.replace('450',"45",inplace=True)

In [217]:
#What is the total number of calories burned across all records?
df["Calories"].sum()

9743.399999999998

In [222]:
df.describe()

        Duration       Pulse    Maxpulse    Calories
count  32.000000   32.000000   32.000000   32.000000
mean   55.781250  103.500000  128.500000  304.481250
std     7.840072    7.832933   12.998759   64.077053
min    30.000000   90.000000  101.000000  195.100000
25%    56.250000  100.000000  120.000000  250.700000
50%    60.000000  102.500000  127.500000  291.200000
75%    60.000000  106.500000  132.250000  341.325000
max    60.000000  130.000000  175.000000  479.000000

In [218]:
#What is the average pulse rate in the dataset?
df["Pulse"].mean()

103.5

In [219]:
#Find the maximum and minimum pulse rate.
min_pulse=df["Pulse"].min()
max_pulse=df["Pulse"].max()
print(min_pulse)
print(max_pulse)

90
130

In [220]:
#Calculate the total and average duration of activities.
total=df["Duration"].sum()
avg=df["Duration"].mean()
print(total)
print(avg)

1785
55.78125

In [221]:
#Group the data by date and find the total calories burned each day.
df2=df.groupby(["Date","Calories"])
df2.sum()

                     Duration  Pulse  Maxpulse
Date       Calories
2020-12-01 409.1           60    110       130
2020-12-02 479.0           60    117       145
2020-12-03 340.0           60    103       135
2020-12-04 282.4           45    109       175
2020-12-05 406.0           45    117       148
2020-12-06 300.0           60    102       127
2020-12-07 374.0           60    110       136
2020-12-08 253.3           45    104       134
2020-12-09 195.1           30    109       133
2020-12-10 269.0           60     98       124
2020-12-11 329.3           60    103       147
2020-12-12 250.7          120    200       240
2020-12-13 345.3           60    106       128
2020-12-14 379.3           60    104       132
2020-12-15 275.0           60     98       123
2020-12-16 215.2           60     98       120
2020-12-17 300.0           60    100       120
2020-12-18 323.0           45     90       112
2020-12-19 323.0           60    103       123
2020-12-20 243.0           45     97       125
2020-12-21 364.2           60    108       131
2020-12-23 282.0           45    100       119
           300.0           60    130       101
2020-12-24 246.0           45    105       132
2020-12-25 334.5           60    102       126
2020-12-26 250.0           60    100       120
2020-12-27 241.0           60     92       118
2020-12-28 280.0           60    103       132
2020-12-29 280.0           60    100       132
2020-12-30 380.3           60    102       129
2020-12-31 243.0           60     92       115

In [223]:
date_range = pd.date_range(start=2020-12-1, periods=len(df), freq='M') #make the corrrect format for date
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112     323.0
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45 2020-12-23    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132     280.0
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [229]:
filtered_df=df[df["Calories"]>300] #filter the records where calories >300
records=filtered_df.groupby("Calories").mean() 
records

          Duration  Pulse  Maxpulse
Calories
323.0         52.5   96.5     117.5
329.3         60.0  103.0     147.0
334.5         60.0  102.0     126.0
340.0         60.0  103.0     135.0
345.3         60.0  106.0     128.0
364.2         60.0  108.0     131.0
374.0         60.0  110.0     136.0
379.3         60.0  104.0     132.0
380.3         60.0  102.0     129.0
406.0         45.0  117.0     148.0
409.1         60.0  110.0     130.0
479.0         60.0  117.0     145.0

In [231]:
%matplotlib inline

In [237]:
'''Data Visualization:

Plot a scatter plot between Duration and Calories.
Create a scatter plot for Pulse vs. Maxpulse.
Create a time series plot for calories burned over time.
Advanced Analysis:

Calculate the correlation between Duration, Pulse, Maxpulse, and Calories.
Categorize Duration into "Short", "Medium", and "Long" and create a new column.
Filter records where calories burned are greater than 300.
Exporting Data:

Save the cleaned or analyzed dataset to a new CSV file.'''

'Data Visualization:\n\nPlot a scatter plot between Duration and Calories.\nCreate a scatter plot for Pulse vs. Maxpulse.\nCreate a time series plot for calories burned over time.\nAdvanced Analysis:\n\nCalculate the correlation between Duration, Pulse, Maxpulse, and Calories.\nCategorize Duration into "Short", "Medium", and "Long" and create a new column.\nFilter records where calories burned are greater than 300.\nExporting Data:\n\nSave the cleaned or analyzed dataset to a new CSV file.'